{% extends "MwebAdminBundle::layout.html.twig" %}

{% block admin_container %}
    <div class="container-fluid">
        <div class="col-sm-4"></div>
        <div class="col-sm-4  mweb-container">
            <h2>Connectez-vous</h2>
            {{ include('FOSUserBundle:Security:login_content.html.twig') }}
            <div class="clear"></div>
        </div>
        <div class="col-sm-4"></div>
    </div>
{% endblock %}
