
/*
The MIT License

Copyright 2016 Fab <fab at unmecduweb.com>.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
*/
/* 
    Created on : 23 mai 2016, 08:54:25
    Author     : Fab <fab at unmecduweb.com>
*/




/* WEB FONTS */

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on February 12, 2015 */



@font-face {font-family: 'open-sans-semi-bold'; src: url('../font/opensans-semibold-webfont.eot'); src: url('../font/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),url('../font/opensans-semibold-webfont.woff2') format('woff2'), url('../font/opensans-semibold-webfont.woff') format('woff'), url('../font/opensans-semibold-webfont.ttf') format('truetype'), url('../font/opensans-semibold-webfont.svg#open_sanssemibold') format('svg'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'open-sans-bold'; src: url('../font/opensans-bold-webfont.eot'); src: url('../font/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../font/opensans-bold-webfont.woff2') format('woff2'),url('../font/opensans-bold-webfont.woff') format('woff'),    url('../font/opensans-bold-webfont.ttf') format('truetype'),  url('../font/opensans-bold-webfont.svg#open_sansbold') format('svg');font-weight: normal; font-style: normal;}
@font-face {font-family: 'open-sans-extra-bold'; src: url('../font/opensans-extrabold-webfont.eot'); src: url('../font/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),url('../font/opensans-extrabold-webfont.woff2') format('woff2'), url('../font/opensans-extrabold-webfont.woff') format('woff'),  url('../font/opensans-extrabold-webfont.ttf') format('truetype'), url('../font/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'open-sans-regular'; src: url('../font/opensans-regular-webfont.eot'); src: url('../font/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../font/opensans-regular-webfont.woff2') format('woff2'), url('../font/opensans-regular-webfont.woff') format('woff'),   url('../font/opensans-regular-webfont.ttf') format('truetype'), url('../font/opensans-regular-webfont.svg#open_sansregular') format('svg'); font-weight: normal; font-style: normal;}


@font-face {font-family: 'raleway-extra-bold';src: url('../font/raleway-extrabold-webfont.eot');src: url('../font/raleway-extrabold-webfont.eot?#iefix') format('embedded-opentype'),url('../font/raleway-extrabold-webfont.woff2') format('woff2'), url('../font/raleway-extrabold-webfont.woff') format('woff'),   url('../font/raleway-extrabold-webfont.ttf') format('truetype'),   url('../font/raleway-extrabold-webfont.svg#ralewayextrabold') format('svg'); font-weight: normal;font-style: normal;}
@font-face {font-family: 'raleway-bold'; src: url('../font/raleway-bold-webfont.eot'); src: url('../font/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../font/raleway-bold-webfont.woff2') format('woff2'),url('../font/raleway-bold-webfont.woff') format('woff'),url('../font/raleway-bold-webfont.ttf') format('truetype'),url('../font/raleway-bold-webfont.svg#ralewaybold') format('svg');font-weight: normal; font-style: normal;}
@font-face {font-family: 'raleway-black'; src: url('../font/raleway-black-webfont.eot'); src: url('../font/raleway-black-webfont.eot?#iefix') format('embedded-opentype'), url('../font/raleway-black-webfont.woff2') format('woff2'), url('../font/raleway-black-webfont.woff') format('woff'),url('../font/raleway-black-webfont.ttf') format('truetype'),  url('../font/raleway-black-webfont.svg#ralewayblack') format('svg');font-weight: normal; font-style: normal;}
@font-face {font-family: 'raleway-medium'; src: url('../font/raleway-medium-webfont.eot'); src: url('../font/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../font/raleway-medium-webfont.woff2') format('woff2'),url('../font/raleway-medium-webfont.woff') format('woff'),  url('../font/raleway-medium-webfont.ttf') format('truetype'),url('../font/raleway-medium-webfont.svg#ralewaymedium') format('svg'); font-weight: normal; font-style: normal;}

/* ==========================================================================
            STRUCTURE
   ========================================================================== */

#loading-wrap{display: none;}
.mweb-container{background: #fff; box-shadow: 0 5px 5px #aaa; padding-top: 20px; padding-bottom: 20px;}
.clear{clear:both; }
.none {display:none;}
.no-padding{padding: 0 !important;}
.hide {visibility: hidden; }

html {height:101%;}
body {font-family:'open-sans-semi-bold', Arial,sans-serif; font-size: 16px; background: #f1f1f1;}

.container, .container-fluid{position: relative; z-index: 2;}
.container-fluid{position: relative; z-index: 2; max-width: 1300px;}

h1{font-family: 'raleway-black'; color: #FFFFFF; font-size: 25px; text-transform: uppercase; margin: 20px 0; font-weight: normal; color: #222;  }
h2{font-family: 'raleway-black'; font-size: 20px; margin: 0; text-transform: uppercase; line-height: 40px; font-weight: normal; color: #222;}
h3{font-family: 'raleway-extra-bold'; font-size: 18px; line-height: 20px; margin: 0; text-transform: uppercase; font-weight: normal; color: #222;}
h4{font-family: 'raleway-black'; font-size: 16px; margin: 0; text-transform: uppercase; font-weight: normal; color: #222;}
h5{margin: 20px 0  0px; font-size: 15px; line-height: 15px; font-family: "open-sans-semi-bold"; font-weight: normal; color: #222;}


a, p a, li a{text-decoration: none; color:#ff005a;}
a:hover, p a:hover, li a :hover{color: #ff005a; transition: all 0.2s linear 0s; text-decoration:underline;}
a:focus, p a:focus, li a:focus{color: #ff005a; text-decoration: none; opacity: 1;}
p{font-family: "open-sans-regular"; font-size: 15px; color:#222;}


.container ul{margin: 10px 0 10px 75px; font-family: "open-sans-regular"; font-size: 15px; color:#222;}
.container ol{margin: 10px 0 10px 75px; font-family: "open-sans-regular"; font-size: 15px; color:#222;}


.black{color:#000;}
.pink{color:#ff005a;}
.white{color:#fff;}

a.button::after, .button::after{content: ''; height: 100%; position: absolute; top: 0;  left:0; width: 0%; background: #ff005a; display: inline-block; transition: width 0.3s; z-index: -1;}
a.button:hover::after, .button:hover::after{width: 100%;}
a.button, .button{ background: none; border: none; position: relative; display: inline-block; color: #ff005a; text-transform: uppercase; padding: 5px 12px 5px 8px; font-size: 14px; font-family: 'raleway-bold'; border-left:4px solid #ff005a; transition: 0.3s;}
a.button.big, .button.big{font-size: 16px; font-family: 'raleway-bold'; padding:5px 12px 5px 8px;; }
a.button:hover, .button:hover{color: #fff; text-decoration: none;}
a.button:focus{color: #fff; text-decoration: none; opacity: 1;  background-position: 0 -100%;}
.overlay-bg{position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 1; background: url('../../files/design//bg-pattern.png') repeat;}




#loader{position: fixed; height: 100%; width: 100%; background: #f7f7f7; top: 0; left: 0; z-index: 1000;}
#loader img{position: absolute; top: 44%; left: 44%;}


.width-100{width: 100% !important;;}
.width-60{width: 60% !important;}
.width-40{width: 40% !important;}
.width-30{width: 30% !important;}
.width-28{width: 28% !important;}
.width-25{width: 25% !important;}
.width-20{width: 20% !important;}
.width-15{width: 15% !important;}
.width-12{width: 12% !important;}
.width-10{width: 10% !important;}

.left{float: left;}
.right{float: right;}
.align-left{text-align: left;}    
.align-right{text-align: right;}    
.align-center,.text-center{text-align: center;}    
.justify{text-align: justify;}




/*----------------------------------- NAVBAR  -----------------------------------*/
.navbar{background-color: #292929;}
.navbar-inverse .navbar-nav > li > a{color: #eee; font-size: 15px}
.navbar-inverse .navbar-nav > li > a:hover{color:#ff005a;}

.dropdown-menu{background-color: #292929;}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{color: #ff005a; background: none;}
.dropdown-menu > li > a{color: #efefef;}
/*----------------------------------- BOOTSTRAP MODAL -----------------------------------*/

.mw-modal .modal-content{border-radius: 0;}
.mw-modal .modal-header{background:#4A4A49; padding: 6px 15px;}
.mw-modal .modal-header .close{background:url('../../../files/image/delete-icon.png'); opacity: 1; width: 18px; height: 18px; margin: 0;}
.mw-modal .modal-title{color: #fff; font-size: 14px; text-transform: uppercase;}
.mw-modal .modal-body{padding: 10px 40px;}
.modal { text-align: center; padding: 0!important;}
.modal:before { content: ''; display: inline-block; height: 100%; vertical-align: middle; margin-right: -4px;}
.modal-dialog { display: inline-block; text-align: left; vertical-align: middle;}
.modal-dialog.large { width: 70%;}

/*----------------------------------- Table -----------------------------------*/

#table_list_entity_paginate a, #table_list_entity_info, #table_list_entity_wrapper label{font-family: "open-sans-regular"; font-size: 13px; font-weight: normal}

.edit-entity.button{position:absolute; top:-50px; right: 0px;}
.edit-button{float:right; font-size: 14px; font-family: "open-sans-semi-bold";  display: inline-block; text-transform: uppercase; padding: 0 5px; border-radius: 20px; background: #fff; color: #ff005a;
    border:2px solid #ff005a; line-height:34px; width: 37px; height: 37px; text-align: center; margin: 0 7px; }
.edit-button:hover{background-color: #ff005a; color: #ffffff; text-decoration: none;}

#mweb-container .mw-table { border: 0; width: 100%; font-size: 17px; color: #4A4A49; border-bottom:none; }



.mw-table thead tr th{padding: 12px 15px; font-weight: 600; text-align: inherit; font-size: 14px; border: none; border-bottom: 3px solid #ddd;}
.mw-table thead tr th .glyphicon{ }
.mw-table thead tr th.sorting_asc .glyphicon{color: #ff005a; }
.mw-table thead tr th.sorting_desc .glyphicon{color: #ff005a;  -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg);}
.mw-table thead tr th .glyphicon{float:  right; display: inline-block; }
.mw-table.align-center thead tr th{padding: 6px 0px;}
#mweb-container .mw-table tbody tr td{padding: 6px 15px; text-align: inherit; border: none; border: none; font-family: 'open-sans-regular';}
#mweb-container table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1{background: none}
#mweb-container table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1{background: none}
#mweb-container table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd{background: #fff;}

#mweb-container table.dataTable.stripe tbody tr.even, table.dataTable.display tbody tr.even{background: #f1f1f1}
#mweb-container table.dataTable.hover tbody tr:hover, table.dataTable.hover tbody tr.odd:hover, table.dataTable.hover tbody tr.even:hover, table.dataTable.display tbody tr:hover, table.dataTable.display tbody tr.odd:hover, table.dataTable.display tbody tr.even:hover{background: rgba(255,0,90,0.2);}
#mweb-container table.dataTable.display tbody tr:hover > .sorting_1, table.dataTable.display tbody tr.odd:hover > .sorting_1, table.dataTable.display tbody tr.even:hover > .sorting_1, table.dataTable.order-column.hover tbody tr:hover > .sorting_1, table.dataTable.order-column.hover tbody tr.odd:hover > .sorting_1, table.dataTable.order-column.hover tbody tr.even:hover > .sorting_1{background:none;}
.mw-table.align-center tbody tr td{padding: 6px 0px;}
.mw-table .title{background: #4F4F4F; font-size: 18px; font-weight: 600; color:#fff; padding: 4px 15px;}
.mw-table.stripped tbody tr:nth-child(even){background:#DBDBDB;}
input[type="search"]{border: 1px solid #222;}

.form-control {
    box-shadow: none;
    border: 1px solid #e5e5e5;
    padding: 10px 15px;
    height: 45px;
    line-height: 25px;
    color: #6a6c6f;
    background: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

/*----------------------------------- Notice -----------------------------------*/
.flash-notice {background-color: #14CA82; position: fixed; right: 100px; bottom: 100px;  }
.success {background-color: #BCF5BC; border-color: #7cdd77; color: darkgreen}


/*----------------------------------- Edition -----------------------------------*/
.mweb-fieldset{ margin: 25px 0; padding-bottom: 20px;}
.mweb-fieldset .content{padding: 0 15px;}
.mweb-fieldset .content label{font-size: 14px; font-weight: 400;  vertical-align: bottom; color: #333}
.mweb-fieldset .content .info-tooltip{margin: 0 0 0 5px; vertical-align: baseline; font-size: 17px; }
.mweb-fieldset .content .info-tooltip:hover{color: #ff005a;}
.mweb-fieldset .content input[type=radio]{margin: 0 3px 0 10px;}
.mweb-fieldset .content .message{color: #b91e1b; padding: 5px 15px; font-weight: bold; }
.mweb-fieldset legend{text-transform: uppercase; font-size: 16px; color: #4A4A49;}
.mweb-fieldset legend .glyphicon{vertical-align: middle; margin:  0 10px 0 0;}
.mweb-vich-illu{margin: 20px 0 10px;}
#mweb-goto-fieldset select{width: 100%}
#mweb-goto-fieldset .button{width: 150px; margin:auto; display: block}

.form-error{font-family: 'open-sans-regular'; font-size: 14px; margin: 10px 0; border-left: 4px solid #c9302c; padding: 0 0 0 10px; color: #c9302c}
.form-error:last-of-type{margin-bottom: 10px;}
.form-error .glyphicon{display: none;}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #333;
    opacity: 0.8;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #333;
    opacity: 0.8
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #333;
    opacity: 0.8
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #333;
    opacity: 0.8;
}
        
.mweb-noty{display: none;}

footer{position: absolute; bottom: 0px; width: 100%; height: 50px; }
footer p{font-size: 10px; text-align: center; margin: 0; line-height: 50px;}
footer p a{color: #333;}
footer p a:hover{color: #333; text-decoration: underline;}